.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  z-index: 1000;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert.show {
  opacity: 1;
  transform: translateY(0);
}

.alert.hide {
  opacity: 0;
  transform: translateY(100%);
}


.success {
  background-color: #0d6efd; 
}

.error {
  background-color: #dc3545; 
}

.warning {
  background-color: #f39c12; 
}

.info {
  background-color: #17a2b8; 
}

.icon {
  margin-right: 15px;
  font-size: 1.2rem; 
}


.success .icon {
  color: #28a745;
}

.error .icon {
  color: #dc3545;
}

.warning .icon {
  color: #f39c12;
}

.info .icon {
  color: #17a2b8;
}

/* Responsividad */
@media (max-width: 768px) {
  .alert {
    padding: 12px;
    font-size: 0.85rem;
  }

  .icon {
    margin-right: 8px;
    font-size: 1rem;
  }
}
