/* styles/Home.module.css */
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Usa Roboto como la fuente principal */
}
main {
  margin-top: 20px; /* Ajusta el valor según sea necesario */
}



h1 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.input-group input,
.input-group select {
  padding: 8px;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.input-group button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  background-color: #7b0000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

.input-group button:hover {
  background-color: #a10000;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-list li strong {
  font-size: 1rem;
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.edit-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.edit-button:hover {
  color: #a10000;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #a21000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

button:hover {
  background-color: #000000;
}

/* Responsive Design */
@media (min-width: 600px) {
  .container {
    max-width: 600px;
    padding: 20px;
  }

  .input-group input,
  .input-group select {
    font-size: 1rem;
  }

  .input-group button {
    font-size: 1rem;
  }

  .project-list li strong {
    font-size: 1.125rem;
  }

  .edit-button {
    font-size: 1.25rem;
  }

  button {
    font-size: 1rem;
  }
}








